@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Open+Sans:wght@300;400;600&family=Rajdhani:wght@300;400;600&display=swap');

:root {
  font-size: 20px;
  --color-principal: #edbc93;
  --color-secundario: #e6e6e6;
  --color-terciario: #ffdead;
  --tipografia-principal: 'Rajdhani', sans-serif;
  --tipografia-secundaria: 'Josefin Sans', sans-serif;
  --tipografia-parrafos: 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Barra-navegación {
  color: black;
  background-color: var(--color-principal);
  height: auto;
  font-family: var(--tipografia-principal);
}
.navegador {
  margin: 0;
  padding: 1rem 0.5rem;
}
.VinculosPaginas {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 0 1rem;
  margin: 0 0.5rem;
  font-weight: 300;
}
.VinculosPaginas:hover {
  color: white;
  text-decoration: underline;
  font-weight: 400;
}
#Logo-empresa {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.columna-2 {
  display: flex;
  flex-direction: row;
}
#Logotipo {
  margin-right: 0.5rem;
  color: white;
}
.columna-3 {
  display: flex;
  justify-content: end;
}
#CarritoCompras {
  color: black;
}
#CarritoCompras:visited {
  color: black;
}
#CarritoCompras:hover {
  transform: translate(0px, -10px);
  transition: 3s;
  color: #403f3f;
}
body {
  background-color: var(--color-secundario);
}
#Contenedor-categoria, #Contenedor-tarjetas-productos, #Contenedor-articulos, #seccion-preguntas, .CARRITO {
  width: 80%;
  height: auto;
  font-family: var(--tipografia-principal);
  margin: auto;
  padding: 2rem 0;
}
.Subtitulo {
  font-weight: 600;
  font-size: 3rem;
  border-bottom: .1px solid #884A39;
}
.categoria {
  margin: .5rem 1rem;
  box-shadow: 6px -3px 7px 3px gray;
  border: .2rem solid #e5b78f;
  border-radius: .5rem 1.5rem;
  height: 25rem;
}
.Subtitulos-categorias {
  font-size: 2rem;
  font-weight: 600;
  color: #233443;
}
#categoria-1 {
  background-image: url(/img/Velas.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#categoria-2 {
  background-image: url(/img/espejo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#categoria-3 {
  text-align: left;
  background-image: url(/img/difusores.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#categoria-4 {
  background-image: url(/img/Sahumerio.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tarjetas {
  background-color: #ffdead;
  font-family: var(--tipografia-secundaria);
  border-radius: 10px;
  width: 15rem;
  height: 21rem;
  margin: 1rem 1rem;
  padding: 0;
}
.imagenes {
  border-radius: 10px 10px 0 0;
  width: 298px;
  height: 167px;
}
.Titulo-Tarjetas {
  margin: 0.2rem 0;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.Cuerpo-tarjetas {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}
.items {
  font-weight: 200;
  margin: 10px 0;
}
.Boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
}
.agregar {
  font-size: 18px;
  font-weight: 200;
  padding: 5px 15px;
  border-bottom: 1px solid #884A39;
}
.btn:hover {
  border: 0.1rem solid #884A39;
  transition-duration: 1.5s;
  box-shadow: 2px -2px 7px 2px #884A39;
}
.titulo-ayudas, .redes {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
}
#pie-pagina {
  background-color: var(--color-principal);
  font-family: var(--tipografia-principal);
}
.iconos, .ayudas, .Hipervinculos {
  list-style: none;
  margin: auto;
}
.link-items {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.Articulo-uno,.Articulo-dos, .Articulo-tres{
  font-family: var(--tipografia-parrafos);
  padding: 1rem 1rem;
}
.Parrafos {
  margin-bottom: .4rem;
  margin-left: .5rem;
  width: 90%;
  font-weight: 300;
  line-height: 1.5rem;
}
.Destacar {
  font-weight: 600;
}
#Sobre-nosotros, #Sobre-calidad, #Sobre-Colaboradores{
  border-bottom: .1rem solid #894A39;
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: #894917;
}
#mis-redes {
  font-family: var(--tipografia-secundaria);
  font-weight: 400;
  color: black;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.icono-redes {
  margin-bottom: .5rem;
  text-align: center;
  font-size: 16px;
  padding: 10px 5px 0;
}
.icono-redes:hover {
  transform: translate(10px, -10px);
  transition-duration: 6s;
}
.icono-facebook {
  color: #4267B2;
}
.icono-tik-tok {
  color: black;
}
.icono-whatsapp {
  color: #25d366;
}
.icono-gmail {
  color: #ea4335;
}
.icono-instagram {
  color:#c13584;
}
.subtitle {
  margin-top: 1rem;
  font-family: var(--tipografia-secundaria);
  font-weight: 400;
  font-size: 1.5rem;
}
.formulario {
  font-family: var(--tipografia-secundaria);
  font-size: 25px;
  text-align: end;
  font-weight: 200;
}
#Name, #LastName, #Email, #text-area {
  background-color: var(--color-secundario);
  border: .1rem solid #b3b3b3;
  border-radius: 10px;
  margin: 0 10px;
  font-family: var(--tipografia-secundaria);
  font-weight: 400;
  font-size: 1rem;
}
.form-uno {
  display: flex;
  justify-content: flex-end;
}
.formulario:last-child {
  display: flex;
  flex-flow: column nowrap;
}
.boton-enviar {
  border: 0 solid #894A39;
  width: 20rem;
  margin: 0 10rem 1rem;
  align-items: center;
  box-shadow: 2px -3px 5px 3px #b3b3b3;
  font-family: var(--tipografia-secundaria);
  font-weight: 400;
  font-size: 1rem;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#Preguntas-frecuentes {
  border-bottom: 1px solid #894A39;
  color: #894917;
  font-family: var(--tipografia-secundaria);
}
.accordion-button, .accordion-body {
  background-image: linear-gradient(to right top, #f4f4f4, #f0f0f0, #ededed, #e9e9e9, #e6e6e6);
}
.Contenedor-productos {
  background-image: linear-gradient(to right top, #b3b3b3, #bfbfbf, #cccccc, #d9d9d9, #e6e6e6);
  padding: 1rem;
  margin-left: 0;
}
.contenedor-pago {
  background-color: #f2f2f2;
  padding: 20px 2px 0 15px;
}
.contenedor-pago h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#Tarjetas-credito, #Medios-electronicos{
  padding: 10px 25px 20px;
}
#Tarjetas-credito img, #Medios-electronicos img {
  width: 40px;
  background-color: white;
}
.Producto-compra {
  padding: 25px 15px;
  font-weight: 600;
  line-height: 2rem;
  border-left: 1px dashed var(--color-secundario);
}
.Producto-compra ul {
  list-style: none;
  padding-left: .5rem;
}
.Producto-compra h3 {
  font-size: 2rem;
  padding-left: 0;
}
.Producto-compra li {
  display: flex;
}
.imagen {
  position: relative;
  top: 100px; left: 20px;
  width: 100px;
  height: 120px;
}
.remove, .boton-pagar {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.boton-pagar {
  position: relative;
  left: 50px;
}